{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="product_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="image_2"><img src={{remot.img.url}}></div>
              <div class="price_text">Price $ <span style="color: #3a3a38;">{{remot.price}}</span></div>

            <h1 class="game_text">Video Game</h1>
            <p class="long_text">{{remot.bio}}</p>
          </div>

        </div>
      </div>
{% endblock content %}











































































































